p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

h3{
    color: white;
    text-align: left; 
}


body {
    background-color: rgb(255, 153, 170);
    opacity: 0.7;
    text-align: center
   
}

img{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
input[type='button'] {

    background-color: white;
    border:solid;
    border-radius: 12px;
    color:rgb(255, 153, 170);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s padding;
}
input[type='button']:hover {
    padding: 15px 15px;
}

#tempo {
    margin: 30px;
    font-size: 30px;
    border-radius: 12px;
}
.tempoimg {
    width: 40px;
    clear: none;
    float: left;
}

.tempodiv {
    width: 210px;
}

.diadiv {
    clear: both;
    font-size: 20px;
    font:Bradley Hand
}

